

 

  <title>Hakkımda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
 
   <nav class="navbar  navbar-dark navbar-expand-lg bg-info ">
       <div class="container-fluid">
        <!-- Brand -->
        <a class="navbar-brand" href="index">Logo</a>
    
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="hakkinda">Hakkında</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="iletisim">İletişim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="nelervar">Neler Var</a>
          </li>
          <form style="padding-left:700px; padding-right: 1px;" class="form-inline" action="/action_page.php">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-dark" type="submit">Search</button>
          </form>
           <ul class="nav navbar-nav navbar-right" style="margin-left: 130px;">
      <li><a style="color: rgb(14, 24, 20);" href=""><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a style="color: rgb(14, 24, 20); " href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    </div>
      </nav>


  <div class="offset-2">
  
</pre>
</div>

<div class="container">
  <div class="" style="margin-top: 100px;">
    <div class="jumbotron" style="background-color: rgb(189, 216, 226);">

<div class="container">
        <h2>MongoDB ile Gezi Rotası</h2>
        <p></p>
        <table class="table">
            <thead>
                <tr>
                   
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>İsim</td>
                    <td></td>
                    <td>Sabiha Çapar</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td></td>
                    <td>sbhacpr10@gmail.com</td>
                </tr>
             
                </tr>
                <tr class="danger">
                    <td>Üniversite</td>
                    <td></td>
                    <td>inönü Üniversitesi</td>
                </tr>
                <tr class="info">
                    <td>Bölüm</td>
                    <td></td>
                    <td>Bilgisayar Mühendisliği</td>
                </tr>
                <tr class="warning">
                    <td>Öğrenci Numarası</td>
                    <td></td>
                    <td>02170201027</td>
                </tr>
               
            </tbody>

        </table>

    </div>
    </div>
  </div>
</div>

  </form>



</body>

