<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
  body {
    background-color: rgb(240, 217, 186);
  }
</style>
<!--
<div class="row">
  <div class="offset-8">
    <div class="">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Login</h1>
    
      <form action="/user/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
          style="margin-left:200px;"
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
          style="margin-left:200px;"
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4">
       <a href="/user/addOrEdit">Register</a>
      </p>
    </div>
  </div>
</div>-->
<div class="container">
  <div class="offset-4">


    <br>
    <h2>Gezi Rotası </h2>
    <hr>
   

    <form action="/admin/signin" method="POST">
      <!-- input group yapılmasının nedeni ikon kullanılacağı için -->
      <div class="input-group">
        <!-- formları birbirine gruplamak için iyi bir yöntemdir.-->
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <!-- ikon koymak için i içindeki classa verilir-->
        <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email address">
        <!--for ve id nin birbirine eşit olması güvenlik açısından önemlidir.-->
        <!--id lable in input a bağlı olduğunu söyler-->
        <!-- name backend de alınacak olan değişkendir.arka planda post edildiğinde bu değer nasıl alınacak onu gösterir-->

      </div>
      <br>

      <div class="input-group">
        <!-- formları birbirine gruplamak için iyi bir yöntemdir.-->
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <!-- ikon koymak için i içindeki classa verilir-->

        <input type="password" name="password" id="password" class="form-control" placeholder="Enter your password">
        <!--for ve id nin birbirine eşit olması güvenlik açısından önemlidir.-->
        <!--id lable in input a bağlı olduğunu söyler-->
        <!-- name backend de alınacak olan değişkendir.arka planda post edildiğinde bu değer nasıl alınacak onu gösterir-->
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember" id="">Remember me!</label>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  </div>
  <br>
</div>
<br>
<div class="container">
  <div class="offset-4">
    <div class="jumbotron" style="background-color: rgb(189, 216, 226);">


      <p>Gezi Rotasına admin olarak üye olmak için <b><a href="signup">buraya </a></b>tıklayabilirsiniz</p>
      <p>Eğer üye iseniz giriş yapınız</p>
    </div>
  </div>
</div>


 
