<!DOCTYPE html>
<html>

<head>
    <title>Gezi Rotası</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity=""
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="form-group">
    <div class="row">
        <div class="form-group">

            


            {{header}}
            {{{body}}}
            {{navbar}}
            

        </div>
    </div>


</body>

</html>