

 

  <title>Hakkımda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
  <nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="hakkinda">Hakkında</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="anasayfa">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="iletisim">İletişim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nelervar">Neler Var</a>
      </li>
    </ul>
   <form>
      <a href="addOrEdit" style="padding-left:483px;">
        <button class="btn btn-secondary" type="button"
          style="padding-left: 10px; padding-right: 24px;">Register</button>
      </a>
      <a href="login" style="padding-right:1px;">
      <button class="btn btn-secondary" type="button">Login</button>
      </a>
    </form>
      <form style="padding-left:200px; padding-right: 1px;" class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </form>
  </nav>
  <form class="">


  <div class="offset-2">
  <p><pre>
    <h2><u></u> </h2>
  <b>Sabiha Çapar</b>
  <b>İnönü Üniversitesi Bilgisayar Mühendisliği</b>
  <b>02170201027</b> 
  <b>Gaziantep/Şehitkamil</b>
  </p>
</pre>
</div>

  </form>



</body>

