<!DOCTYPE html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

<html>
<body>
  <nav class="navbar navbar-expand-sm bg-info navbar-dark" style="width: 1600px;">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="hakkinda">Hakkında</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="anasayfa">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="iletisim">İletişim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nelervar">Neler Var</a>
      </li>
      <form style="padding-left:700px; padding-right: 1px;" class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
  </nav>
  <div>

<div class="row">
  <div class="col-md-2" style="background-color:rgb(221, 215, 215);">
     <p style="margin-left: 20px;">Farklı güzergahtan gitmek ister misiniz?</p> 
  <div class="jumbotron" style="background-color:#FFF">
    <p>Gaziantep—Ankara</p>
     
     <a href="https://www.google.com/maps/dir/37.0895718,37.3720384/An%C4%B1tkabir,+Y%C3%BCcetepe,+Akdeniz+Cd.+No:31,+06570+%C3%87ankaya%2FAnkara/@38.4479635,33.9412042,8z/am=t/data=!4m9!4m8!1m1!4e1!1m5!1m1!1s0x14d34f190a9cea8f:0xd3862ea8248d08a0!2m2!1d32.8369439!2d39.925054">Ankara - Tarsus Otoyolu/O-21 üzerinden</a>
     
    <br>
    <br>
    <br>
        <a href="https://www.google.com/maps/dir/37.0895718,37.3720384/An%C4%B1tkabir,+Y%C3%BCcetepe,+Akdeniz+Cd.+No:31,+06570+%C3%87ankaya%2FAnkara/@38.4479635,33.9412042,8z/am=t/data=!4m10!4m9!1m1!4e1!1m5!1m1!1s0x14d34f190a9cea8f:0xd3862ea8248d08a0!2m2!1d32.8369439!2d39.925054!5i1">Ankara - Niğde Otoyolu/Ankara - Tarsus Otoyolu/O-21 üzerinden</a>
 <br>
    <br>
    <br>
        <a href="https://www.google.com/maps/dir/37.0895718,37.3720384/An%C4%B1tkabir,+Y%C3%BCcetepe,+Akdeniz+Cd.+No:31,+06570+%C3%87ankaya%2FAnkara/@38.4479635,33.9412042,8z/data=!4m10!4m9!1m1!4e1!1m5!1m1!1s0x14d34f190a9cea8f:0xd3862ea8248d08a0!2m2!1d32.8369439!2d39.925054!5i2">Gaziantep—Ankara</a>
  
  
  </div>
  <div class="jumbotron" style="background-color:#FFF">
   <p> Başkent Üniversitesi Ankara Hastanesi - Anıtkabir</p>
  <a href="https://www.google.com.tr/maps/dir/Yukar%C4%B1+Bah%C3%A7elievler,+Ba%C5%9Fkent+%C3%9Cniversitesi+Ankara+Hastanesi,+Mare%C5%9Fal+Fevzi+%C3%87akmak+Caddesi,+%C3%87ankaya%2FAnkara/Y%C3%BCcetepe,+An%C4%B1tkabir,+Akdeniz+Caddesi,+%C3%87ankaya%2FAnkara/@39.9260207,32.8298715,16z/am=t/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x14d34f1f6812d54d:0xb32859b6956b9e8b!2m2!1d32.8318478!2d39.9252953!1m5!1m1!1s0x14d34f190a9cea8f:0xd3862ea8248d08a0!2m2!1d32.8369439!2d39.925054?hl=tr">Mareşal Fevzi Çakmak Cd. üzerinden</a>
  
  <br>
  <br>
  <br>
  <a href="https://www.google.com.tr/maps/dir/Yukar%C4%B1+Bah%C3%A7elievler,+Ba%C5%9Fkent+%C3%9Cniversitesi+Ankara+Hastanesi,+Mare%C5%9Fal+Fevzi+%C3%87akmak+Caddesi,+%C3%87ankaya%2FAnkara/Y%C3%BCcetepe,+An%C4%B1tkabir,+Akdeniz+Caddesi,+%C3%87ankaya%2FAnkara/@39.9260207,32.8298715,16z/am=t/data=!4m14!4m13!1m5!1m1!1s0x14d34f1f6812d54d:0xb32859b6956b9e8b!2m2!1d32.8318478!2d39.9252953!1m5!1m1!1s0x14d34f190a9cea8f:0xd3862ea8248d08a0!2m2!1d32.8369439!2d39.925054!5i1?hl=tr">Mareşal Fevzi Çakmak Cd. ve Anıtkabir üzerinden</a>
  </div>

  </div>
  <div class="col-md-10">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3059.730182608342!2d32.834755215340564!3d39.92505397942527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f190a9cea8f%3A0xd3862ea8248d08a0!2sAn%C4%B1tkabir!5e0!3m2!1str!2str!4v1620201434748!5m2!1str!2str" width="1400" height="900" style="border:0;" allowfullscreen="" loading="lazy"></iframe>  </div>

  </div>
</div>

  <div class="jumbotron" style="background-color: rgb(189, 216, 226);">
    

<div class="container">
  ANITKABİR<p style="color: darkblue;">Yücetepe, Akdeniz Cd. No:31, 06570 Çankaya/Ankara</p>
 
<div class="row">
  
<div class="col-md-4">

 <i class="fas fa-bus" style="margin-bottom: 20px;">
            <a class="nav-link" href="https://moovitapp.com/ankara-1723/lines/153/751855/3303310/tr?customerId=4908&ref=1&poiType=street">153</a>
            <a class="nav-link" href="https://moovitapp.com/ankara-1723/lines/195-1/752183/3303638/tr?customerId=4908&ref=1&poiType=street">195-1</a>
            <a class="nav-link" href="https://moovitapp.com/ankara-1723/lines/220-7/12127518/4049535/tr?customerId=4908&ref=1&poiType=street">220-7</a>
            <a class="nav-link" href="https://moovitapp.com/ankara-1723/lines/448/752034/3303489/tr?customerId=4908&ref=1&poiType=street">448</a>
            <a class="nav-link" href="https://moovitapp.com/ankara-1723/lines/464/10487406/4002824/tr?customerId=4908&ref=1&poiType=street">464</a>
            <a class="nav-link" href="https://moovitapp.com/ankara-1723/lines/512-5/12726455/4064869/tr?customerId=4908&ref=1&poiType=streets">512-5</a>
            <a class="nav-link" href="https://moovitapp.com/ankara-1723/lines/532_5/3005151/3703112/tr?ref=1&poiType=street&customerId=4908">532-5</a>
</i>



</div>
<div class="col-md-4">

<i class="fas fa-train"></i>
<a class="nav-link" href="https://moovitapp.com/ankara-1723/lines/BA%C5%9EKENTRAY/735790/3210698/tr?customerId=4908&ref=1&poiType=street">BAŞKENTRAY</a>

</div>
<div class="col-md-4">
  METRO
<a class="nav-link" href="https://moovitapp.com/ankara-1723/lines/M1-M2-M3/14392032/4106742/tr?customerId=4908&ref=1&poiType=street">M1-M2-M3</a>


</div>
</div>
</div>
</div>

 

</body>







</html>