<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
    <link rel="stylesheet" href="/css/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="ui container">

        <br>
        <br>
        <br>

        <table class="ui table green">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Adrress</th>
                    <th>City</th>
                    <th>Age</th>
                    <th>Mobile</th>

                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td><a class="ui pruple button"><i style="edit outline icon"></i></a></td>
                    <td><a class="ui red button"><i class="minus icon"></i></a></td>
                </tr>
            </tbody>

            <!-- <tbody>
                    <tr>
                        <td>Bayern Munich</td>
                        <td>Lawendoski, Coutinho</td>
                        <td>Niko Kovač</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                    <tr>
                        <td>PSG</td>
                        <td>Neymar, Mbappe</td>
                        <td>Thomas Tuchel</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                    <tr>
                        <td>FC Barcelona</td>
                        <td>Messi, Suarez</td>
                        <td>Ernesto Valverde</td>
                        <td>Edit</td>
                        <td>Delete</td>
                    </tr>
                </tbody> -->
        </table>
    </div>
    </div>
</body>