<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gezi Rotası</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="hakkinda">Hakkında</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="iletisim">İletişim</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="nelervar">Neler Var</a>
      </li>
<form>
      <a href="addOrEdit" style="padding-left:483px;">
        <button class="btn btn-secondary" type="button"
          style="padding-left: 10px; padding-right: 24px;">Register</button>
      </a>
      <a href="login" style="padding-right:1px;">
      <button class="btn btn-secondary" type="button">Login</button>
      </a>
    </form>
      <form style="padding-left:200px; padding-right: 1px;" class="form-inline" action="/action_page.php">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
  </nav>
  <a href="sanliurfa" target="_blank" style="padding-left: 40px;">
    <img src="/img/harran.png" width="330" height="330" title="Şanlıurfa harran"/>
  </a>
  <a href="sanliurfa" target="_blank">
    <img src="/img/balikligol.png" width="330" height="330" title="Balıklıgöl" />
  </a>
  <a href="malatya" target="_blank">
    <img src="/img/malatya.png" width="330" height="330" title="Malatya" />
  </a>
  <a href="gaziantep" target="_blank">
    <img src="/img/gaziantep gar.png" width="330" height="330" title="Gar" />
  </a>
  <a href="trabzon" target="_blank" style="padding-left: 40px;">
    <img src="/img/ayasofya-trabzon.png" width="330" height="330" title="Ayasofya" />
  </a>
  <a href="trabzon" target="_blank">
    <img src="/img/karadeniz.png" width="330" height="330" title="Karadeniz" />
  </a>
  <a href="kapodokya" target="_blank">
    <img src="/img/kapodokya.png" width="330" height="330" title="Kapodokya" />
  </a>
  <a href="kapodokya" target="_blank">
    <img src="/img/kapodokya1.png" width="330" height="330" title="Kapodokya" />
  </a>


</body>

</html>